<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="site-nav"></button>
</div>

<div class="top-bar" id="site-nav">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Laurel & Amit</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <%= navigation_link(:home)    %>
      <%= navigation_link(:sangeet) %>
      <%= navigation_link(:wedding) %>
      <%= navigation_link(:share)   %>
    </ul>
  </div>
</div>
