<div class="grid-x grid-margin-x">
  <div class="cell">
    <h1>Gallery</h1>
  </div>
  <div class="cell">
    <div class="flipbook-viewport">
      <div class="container">
        <div class="flipbook">
          <% @photos.each do |photo| %>
            <div> <%= image_tag photo.image %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
